/* Configuracoes
======================================================
*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #1a1920;
}

section {
  padding: 80px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3.4em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.125em;
}

p {
  font-size: 1em;
  color: #dde1e6;
}

/* Header
======================================================
*/

header {
  font-family: "Outfit", sans-serif;
}

/* Header top
--------------------------*/

header #header-top {
  background-color: #212028;
}

header #header-top p,
header #header-top a {
  font-size: 0.8em;
  color: #dde1e6;
}

header #header-top a:hover {
  color: #5d45fd;
  transition: 0.5s;
}

/* Header bottom
--------------------------*/
header #header-bottom .navbar {
  padding: 16px 0;
  border-bottom: 2px solid #212028;
}

header .navbar-expand-lg .navbar-nav a:not(.btn) {
  font-size: 0.88em;
  padding: 12px 8px;
  color: #fff;
}

header .navbar-expand-lg .navbar-nav a:hover:not(.btn) {
  color: #5d45fd;
  transition: 0.5s;
}

header .navbar-expand-lg .navbar-nav .nav-item {
  margin-left: 24px;
}

/* Sobrescrita B5
..................*/

.text-bg-dark {
  background-color: #212028 !important;
}

.navbar-toggler {
  border: none;
  color: #fff;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler i:hover {
  color: #5d45fd;
}

/* Home
======================================================
*/
#home .list-inline-item {
  margin-right: 16px;
}

#home #coluna-imagem {
  position: relative;
  margin-top: -80px;
}

#home #coluna-imagem img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 80%;
  z-index: -1;
}

#linha-principal {
  margin-bottom: 2em;
}

.caixa-experiencia {
  padding-left: 4.2em;
}

.caixa-experiencia p {
  font-weight: 300;
  font-size: 0.85em;
  line-height: 18px;
}

.break {
  display: inline;
  width: 0;
}

.break::after {
  content: "\A";
  white-space: pre;
}

/* Classes
======================================================
*/

.color-base {
  color: #5d45fd;
}

.btn-padrao-gradient {
  background: linear-gradient(to right, #5d45fd, #141bd4);
}

a.btn.btn-padrao-gradient:hover {
  color: #fff;
}

/* Sobrescrita B5
..................*/

.btn{
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  border: none;
  padding: 8px 24px;
}

.btn.btn-lg {
  padding: 12px 32px !important;
  font-size: 1em;
}

/* Efeitos
======================================================
*/

@keyframes pulsar {
  0% {
    box-shadow: 0 0 5px -15px #5d45fd;
  }
  90% {
    box-shadow: 0 0 0 20px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.animation-pulsar {
  animation: pulsar 2s linear infinite;
}

/* Breakpoints
======================================================

/* Extra small (xs) 
@media (max-width: 575.98px) {
}*/

/* Small (sm) -(min-width: 576px) and-  */
@media (max-width: 767.98px) {
  header #header-top p {
    font-size: 0.7em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.125em;
  }

  h6 {
    font-size: 1em;
  }

  p{
    font-size: 0.9em;
  }

  #home #coluna-imagem .img-fluid {
    max-width: 80%;
  }

  #home #coluna-imagem img {
    position: relative;
    left: 0;
    transform: none;
    max-width: 80%;
  }

  .caixa-experiencia {
    padding-left: 0;
  }

  #colunaExperiencia.row {
    justify-content: space-between !important;
  }

  .btn.btn-lg{
    padding: 8px 24px !important;
  }
}

/* Medium (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.9em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1.1em;
  }

  .caixa-experiencia {
    padding-left: 12px;
    justify-content: space-between !important;
  }

  #colunaExperiencia .col-3 {
    width: auto;
  }
}

/* Large (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #colunaExperiencia .col-3 {
    width: auto;
  }
}

/* Extra large (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  #colunaExperiencia .col-3{
    width: auto;
  }
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
  #colunaExperiencia .col-3{
    width: auto;
  }
}


